<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thnkld.calegstore.app"
          android:versionCode="9"
          android:versionName="2.2.2">
    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission android:name="com.thnkld.calegstore.app.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="com.thnkld.calegstore.app.permission.C2D_MESSAGE"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/Theme.Lomba"
                 android:name="lomba.app.App">
        <activity android:name="lomba.app.ac.MainActivity"
                  android:exported="true"
                  android:label="@string/app_name"/>
        <activity android:name="lomba.app.ac.CalegActivity"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name="lomba.app.ac.BandingActivity"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name="lomba.app.SplashActivity"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="lomba.app.ac.AboutActivity"/>

        <receiver
                android:name="lomba.app.gcm.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.thnkld.calegstore.app"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
